body {
    background: #ffffff;
}

h1 {
    text-align: center;
}
/* Style.css */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

/* Table header styling */
thead th {
    background-color: #5ab7fa;
    font-weight: bold;
}

/* Optional: Table rows hover effect */
tbody tr:hover {
    background-color: #f9f9f9;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center; /* Horizontal alignment */
    vertical-align: middle; /* Vertical alignment */
}

thead th {
    background-color: #87CEEB; /* Table header back-ground */
    font-weight: bold;
}

thead, tr{ 
text-align: center; /* Puting all our headers aling center */
}

td a{
    display: flex;
    justify-content: center; /*Centering the button, to be under the img */
    margin-top: 10px;
}

button {
    background-color: #f5e311;
    color: black;
    border: 10px;
    padding: 5px 10px; /* Smaller padding for a smaller button */
    font-size: 12px; /* Smaller text size */
    cursor: pointer;
    border-radius: 5px;
}